*{
    margin:0;
    padding:0;
    box-sizing:border-box;

#navlist{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin:2px;
    padding:2px;
    align-items: center;
    position:relative
    
}

}
.container{
    height:100vh;
    width:10vw;
    overflow: none;
   
}
.navcontainer{
    width:99vw;
    background-color: yellowgreen;
    height:30px;
}
#navlogo{
    font-size: 15px;
    color:yellow;
} 
#navcontent{
    font-size: 15px;
    color:yellow;
}
a{
    text-decoration: none;
}
.footerbox{
    
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: yellowgreen;

}
.footerbox p{
   
    color:yellow;
    
}
